{% extends "auctions/layout.html" %}

{% block title %}
{{listing.0.listingName}}
{% endblock %}

{% block body %}

    <h3>{{listing.0.listingName}}
        {% if user.is_authenticated %}
            <form action="{% url 'watching' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="listingID" value="{{listing.0.id}}">
            {% if iwatch == True %}
            <input type="submit" name="watch" value="unwatch" id="watchbutton" />
            {%else%}
                <input type="submit" name="watch" value="watch" id="watchbutton"/>
            {%endif%}
        {%endif%}
            
    </form></h3>
    <hr>
    <p><img class="listingImage" src="{{listing.0.listingImage}}"></p>
    <h5>Description:</h5>
    <p>{{listing.0.listingDesc}}</p>
    <h5>Details:</h5>
    <ul>
        <li>Listed by: {{listing.0.listingPoster}}</li>
        <li>Category: {{listing.0.listingCategory}}</li>
    </ul>
    <h5>Price: $ {{price}}</h5>
    <p id="bidinfo">{{noOfBids.0.num_bids}} bid(s) so far. The highest bidder is {{highestBidder}}</p>

    {% if user.is_authenticated %}
        <p>{{message}}</p>
        <form action="{% url 'bidding' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="listingID" value="{{listing.0.id}}">    
            <input type="number" name="amount" placeholder="Bid" min="{{minprice}}">
            <input class="btn btn-primary" type="submit" value="Bid">
        </form>


        
    {% endif %}
    <hr>
    <h5>Comments:</h5>
    {% if comments %}
        {% for comment in comments%}
            <p>by {{comment.userID}} :</p>
            <p class="comment">{{comment.comment}}</p>
            <hr>
        {% endfor%}
    {%else%}
    <p>No comments yet.</p>
    <hr>
    {%endif%}
    
    {% if user.is_authenticated %}
    
    Add a comment:
    <form class="comment" action="{% url 'comment' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="listingID" value="{{listing.0.id}}">    
        <textarea name="comment_text" id="commentbox"></textarea>
        <input class="btn btn-primary" type="submit" id="cbutton" value="Comment">
    </form>


    
    {% endif %}

{% endblock %}